.form-inline .form-group {
	margin-left: 1em;
	margin-bottom: 1em;
}

.navbar-header {
	width: 100%;
}

.navbar-brand {
	color: white !important;
	font-size: 150%;
	width: 100%;
	text-align: center;
}

.main {
	width: 100%;
	margin: 0 1em;
}

.content {
	max-width: 800px;
	min-width: 300px;
	margin: 0 auto;
}

#butlearn {
	width: 7em;
}